################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WaracleTask/bin/Debug/net8.0
/WaracleTask/obj
